In [56]:
import pandas as pd

In [57]:
def aggregate_MSA(input_data, write_path):
    
    city_state = pd.read_csv('us city by state.csv')
    metro_county = pd.read_csv('metro_county.csv')
    travel_count = pd.read_csv(input_data)
    
    
    MSA_state = {}
    
    travel_count['state'] = 's'

    for i in range(len(travel_count)):
        if (len(travel_count.at[i,'city'].split(', ')) > 1):
            travel_count.at[i, 'state'] = travel_count.at[i, 'city'].split(', ')[1]
            travel_count.at[i, 'city'] = travel_count.at[i, 'city'].split(', ')[0]
            #print(row['state'])
        
    #print(travel_count)    
    for index, row in metro_county.iterrows(): 
        MSA_state[(row['name_msa'])] = 0
    
    
#     for i in range(len(travel_count)):
#         if travel_count.at[i, 'city'] == 'Chicago':
#             print("hi")
        
    merged1 = travel_count.merge(city_state, how = 'inner', 
                                left_on=['city', 'state'], 
                                right_on=['City','State short'])
    
    
    for i in range(len(merged1)):
        merged1.at[i, 'County'] = merged1.at[i, 'County'].lower()
    
    
    for i in range(len(metro_county)):
        metro_county.at[i, 'name10_county'] = metro_county.at[i, 'name10_county'].lower()
        
        
    merged2 = merged1.merge(metro_county, how = 'inner',
                            left_on=['County', 'state'], 
                            right_on=['name10_county','states_msa'])
    
    
    merged2 = merged2.drop(columns=['City', 'city', 'geoid_msa', 'State full', 'statefp10_county', 'countyfp10'
                         , 'countyns10', 'geoid10_county', 'name10_county', 'countyid', 'states_msa_full'
                         , 'states_msa', 'states_msa_code', 'City alias', 'state', 'State short', 'County'])
    print(merged2)
    
    
    
    
    
    
    
    
    
    
    
    
        
#     for index, row in metro_county.iterrows(): 
#         if (row['states_msa'] not in MSA_state[(row['name_msa'])]):
#             MSA_state[(row['name_msa'])].append(row['states_msa'])
    
    
#     for index, row in travel_count.iterrows():
#         splits = row['city'].split(',')       
#         #print(splits)
        
#         if (len(splits) > 1 and splits[1] in MSA.keys()):
#             print("hi")

In [58]:
if __name__ == "__main__":
    aggregate_MSA('traveler to each city.csv','output.csv')

       2020-02-14  2020-02-15  2020-02-16  2020-02-17  2020-02-18  2020-02-19  \
0              37          57          75          86          91          94
1             115         203         221         209         218         235
2             115         203         221         209         218         235
3             115         203         221         209         218         235
4             115         203         221         209         218         235
...           ...         ...         ...         ...         ...         ...
14876           0           0           0           1           0           0
14877           0           0           0           1           0           0
14878           1           2           2           4           1           6
14879           1           1           1           0           0           1
14880           0           1           0           1           1           5

       2020-02-20  2020-02-21  2020-02-22  2020-02-23  ...  2020-06-03  \
0             109          97         118          84  ...        34.0
1             270         323         319         317  ...       106.0
2             270         323         319         317  ...       106.0
3             270         323         319         317  ...       106.0
4             270         323         319         317  ...       106.0
...           ...         ...         ...         ...  ...         ...
14876           1           1           1           0  ...         0.0
14877           1           1           1           0  ...         0.0
14878           6           8           7           1  ...         3.0
14879           0           1           5           0  ...         1.0
14880           2           2           2           0  ...         0.0

       2020-06-04  2020-06-05  2020-06-06  2020-06-07  2020-06-08  2020-06-09  \
0            48.0        37.0        38.0        41.0        41.0        35.0
1           107.0       108.0        77.0        82.0        69.0        84.0
2           107.0       108.0        77.0        82.0        69.0        84.0
3           107.0       108.0        77.0        82.0        69.0        84.0
4           107.0       108.0        77.0        82.0        69.0        84.0
...           ...         ...         ...         ...         ...         ...
14876         0.0         0.0         0.0         0.0         0.0         1.0
14877         0.0         0.0         0.0         0.0         0.0         1.0
14878         3.0         0.0         2.0         3.0         3.0         4.0
14879         0.0         0.0         0.0         1.0         1.0         1.0
14880         0.0         0.0         1.0         0.0         1.0         0.0

       2020-06-10  2020-06-11                        name_msa
0            38.0        17.0  Los Angeles-Long Beach-Anaheim
1           105.0        49.0  Los Angeles-Long Beach-Anaheim
2           105.0        49.0  Los Angeles-Long Beach-Anaheim
3           105.0        49.0  Los Angeles-Long Beach-Anaheim
4           105.0        49.0  Los Angeles-Long Beach-Anaheim
...           ...         ...                             ...
14876         1.0         0.0                          Berlin
14877         1.0         0.0                          Berlin
14878         2.0         2.0     Louisville/Jefferson County
14879         0.0         0.0                           Paris
14880         0.0         0.0                           Macon

[14881 rows x 120 columns]