In [20]:
import pandas as pd

In [21]:
def aggregate_MSA(input_data, write_path):
    
    city_state = pd.read_csv('us city by state.csv')
    metro_county = pd.read_csv('metro_county.csv')
    travel_count = pd.read_csv(input_data)
    
    
    
    travel_count['state'] = 's'

    for i in range(len(travel_count)):
        if (len(travel_count.at[i,'city'].split(', ')) > 1):
            travel_count.at[i, 'state'] = travel_count.at[i, 'city'].split(', ')[1]
            travel_count.at[i, 'city'] = travel_count.at[i, 'city'].split(', ')[0]
    
       
    merged1 = travel_count.merge(city_state, how = 'inner', 
                            left_on=['city', 'state'], 
                            right_on=['City','State short'])
        
        

    
    for i in range(len(merged1)):
        merged1.at[i, 'County'] = merged1.at[i, 'County'].lower()
    
    
    for i in range(len(metro_county)):
        metro_county.at[i, 'name10_county'] = metro_county.at[i, 'name10_county'].lower()
 
    merged1 = merged1.drop_duplicates(subset = ['city', 'state'])
    
    merged2 = merged1.merge(metro_county, how = 'inner',
                        left_on=['County', 'state'], 
                        right_on=['name10_county','states_msa'])
    
    
    merged2 = merged2.drop(columns=['City', 'city', 'geoid_msa', 'State full', 'statefp10_county', 'countyfp10'
                         , 'countyns10', 'geoid10_county', 'name10_county', 'countyid', 'states_msa_full'
                         , 'states_msa', 'states_msa_code', 'City alias', 'state', 'State short', 'County'])
    merged2 = merged2.groupby(['name_msa']).sum()
    merged2.to_csv(write_path)

In [22]:
if __name__ == "__main__":
    aggregate_MSA('traveler to each city.csv','output.csv')

                city  2020-02-14  2020-02-15  2020-02-16  2020-02-17  \
0          Fullerton          37          57          75          86
1             Denton          30          53          49          80
2             Denton          30          53          49          80
3             Denton          30          53          49          80
4              Plano          59         104         111         111
...              ...         ...         ...         ...         ...
15487       Capitola           5           3           4           8
15488       Brewster           1           4           7           3
15489       Brewster           1           4           7           3
15490       Brewster           1           4           7           3
15491  College Place           0           1           3           1

       2020-02-18  2020-02-19  2020-02-20  2020-02-21  2020-02-22  ...  \
0              91          94         109          97         118  ...
1              68          63          72          55          68  ...
2              68          63          72          55          68  ...
3              68          63          72          55          68  ...
4             121         144         131         146         119  ...
...           ...         ...         ...         ...         ...  ...
15487           6           4           4           2           8  ...
15488           6           5           4           4           2  ...
15489           6           5           4           4           2  ...
15490           6           5           4           4           2  ...
15491           1           2           0           3           3  ...

       2020-06-08  2020-06-09  2020-06-10  2020-06-11  state           City  \
0            41.0        35.0        38.0        17.0     CA      Fullerton
1            23.0        26.0        33.0        25.0     TX         Denton
2            23.0        26.0        33.0        25.0     TX         Denton
3            23.0        26.0        33.0        25.0     TX         Denton
4            60.0        84.0        91.0        35.0     TX          Plano
...           ...         ...         ...         ...    ...            ...
15487         5.0         3.0         2.0         0.0     CA       Capitola
15488         1.0         2.0         3.0         0.0     NY       Brewster
15489         1.0         2.0         3.0         0.0     NY       Brewster
15490         1.0         2.0         3.0         0.0     NY       Brewster
15491         2.0         1.0         2.0         3.0     WA  College Place

       State short  State full       County     City alias
0               CA  California       orange      Fullerton
1               TX       Texas       denton         Denton
2               TX       Texas       denton   Shady Shores
3               TX       Texas       denton        Corinth
4               TX       Texas       collin          Plano
...            ...         ...          ...            ...
15487           CA  California   santa cruz       Capitola
15488           NY    New York       putnam       Brewster
15489           NY    New York       putnam  Sears Corners
15490           NY    New York       putnam      Southeast
15491           WA  Washington  walla walla  College Place

[15492 rows x 126 columns]